* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'MaPolicePerso';
  src: url('./font/Lora\,Montserrat\,Open_Sans/') format('truetype');
}

.exemple-font-face {
  font-family: 'MaPolicePerso', cursive;
}

h1 {
    font-size: 1.6em;
    font-family:'MaPolicePerso';
    text-align: center;
    margin-top: 2vh;
  }

h2 {
    font-size: 1.6em;
    font-family:'MaPolicePerso';
    text-align: center;
  }

h3 {
    font-size: 1em;
    font-family:'MaPolicePerso';
    text-align: center;
  }

.container-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    margin: auto;
    max-width: 80vh;
    text-align: justify;
    gap: 3vh;
}

p {
    padding: 2vh;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
    cursor: pointer;
}

img {
    max-width: 80vh;
}

@media screen and (max-width: 920px) {

}

@media (max-width: 768px) {

}