h1 {
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

h2 {
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

h3 {
    font-size: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

.container-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    margin: auto;
    max-width: 80vh;
    gap: 2px;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}